[Unit]
Description=Weston Wayland Compositor
After=systemd-udevd.service
ConditionPathExists=/dev/dri/card0

[Service]
ExecStart=/usr/bin/weston --backend=drm-backend.so --tty=2
Restart=on-failure
StandardInput=tty
TTYPath=/dev/tty2

[Install]
WantedBy=multi-user.target
