[Unit]
Description=Weston Wayland Compositor
After=systemd-udevd.service systemd-logind.service
ConditionPathExists=/dev/dri/card0

[Service]
Environment=XDG_RUNTIME_DIR=/run/user/0
ExecStartPre=/bin/mkdir -p /run/user/0
ExecStartPre=/bin/chmod 700 /run/user/0
ExecStart=/usr/bin/weston --backend=drm-backend.so --tty=2
Restart=on-failure
PAMName=login

[Install]
WantedBy=multi-user.target
